.journey{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.journey-item{
    position: relative;
    background-color: rgba(70, 68, 65, 0.527);
    width: fit-content;
    padding: 25px;
    border-radius: 50px;
    min-height: 100px;
}
.journey-item .course{
    font-weight: bold;
    font-size: 1em;
}
.journey-item .institution{
    font-weight: bold;
    font-size: 0.8em;
    text-align: left;
}
.journey-item .date{
    border-top: 2px solid white;
    padding-top:  10px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
.st-pauls{
    left: 25%;
    background-color: rgba(70, 68, 65, 0.3);
    border-bottom-right-radius: 0px;
}
.timeline{
    left: 55%;
    background-color: rgba(70, 68, 65, 0.4);
    border-bottom-left-radius: 0px;
}
.st-lawrence{
    left: 25%;
    background-color: rgba(70, 68, 65, 0.5);
    border-bottom-right-radius: 0px;
}
.herald{
    left: 55%;
    background-color: rgba(70, 68, 65, 0.6);
}

@media screen and (max-width:768px) {
    .journey-item{
        margin: 10px;
    }
    .st-pauls{
        left: 0%;
        background-color: rgba(70, 68, 65, 0.3);
        
    }
    .timeline{
        left: 28%;
        background-color: rgba(70, 68, 65, 0.3);
       
    }
    .st-lawrence{
        left: 0%;
        background-color: rgba(70, 68, 65, 0.3);
    }
    .herald{
        left: 15%;
        background-color: rgba(70, 68, 65, 0.3);
    }
    .about-me-header{
        display: none;
    }
}